{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Concert+One&family=Nanum+Myeongjo:wght@400;700;800&family=Playpen+Sans:wght@100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'index' %}"><span class="material-icons">home</span> Home</a></li>
            <li><a href="{% url 'about' %}"><span class="material-icons">info</span> About</a></li>
            <li><a href="{% url 'projects' %}"><span class="material-icons">build</span> Projects</a></li>
            <li><a href="{% url 'contact' %}"><span class="material-icons">mail</span> Contact</a></li>
        </ul>
    </nav>
    <div class="gradient-overlay"></div>
    <!-- Contact Section -->
    <section class="contact-section">
        <h1>Connect with Me</h1>
        <p>Follow me on social media or reach out directly:</p>

        <div class="social-links">
            <a href="https://www.facebook.com/ezekiel.ishaya.752" target="_blank">
                <i class="fab fa-facebook"></i> Facebook
            </a>
            <a href="mailto:ezekielsiniishaya@gmail.com">
                <i class="fas fa-envelope"></i> </i> Email
            </a>
            <a href="https://wa.me/+2349060434091" target="_blank">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
            <a href="https://www.instagram.com/zeekiel22/" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a><a href="https://github.com/ezekielsiniishaya" target="_blank">
                <i class="fab fa-github"></i> Github
            </a>
            </a><a href="https://discord.com/channels/@ezekielishaya" target="_blank">
                <i class="fab fa-discord"></i> Discord
            </a>
            </a><a href="https://x.com/Zeekiel22" target="_blank">
                <i class="fa-brands fa-x-twitter"></i> X
            </a>

        </div>
    </section>


    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Ezekiel Ishaya - All Rights Reserved</p>
    </footer>

    <script src="{% static 'portfolio/js/script.js' %}"></script>
</body>

</html>